<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <div class="menu-content">
      <ion-list>
        <ion-list-header>Devices</ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of menuItems; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>

    <ion-footer>
      <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
    </ion-footer>
  </ion-content>
</ion-menu>